@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Medium.eot");
  src: local("DIN Pro Medium"), local("DINPro-Medium"),
    url("../fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-BlackItalic.eot");
  src: local("DIN Pro Black Italic"), local("DINPro-BlackItalic"),
    url("../fonts/DINPro-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-BlackItalic.woff") format("woff"), url("../fonts/DINPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedBlackItalic.eot");
  src: local("DIN Pro Condensed Black Italic"), local("DINPro-CondensedBlackItalic"),
    url("../fonts/DINPro-CondensedBlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-CondensedBlackItalic.woff") format("woff"),
    url("../fonts/DINPro-CondensedBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedMedium.eot");
  src: local("DIN Pro Condensed Medium"), local("DINPro-CondensedMedium"),
    url("../fonts/DINPro-CondensedMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-CondensedMedium.woff") format("woff"),
    url("../fonts/DINPro-CondensedMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-MediumItalic.eot");
  src: local("DIN Pro Medium Italic"), local("DINPro-MediumItalic"),
    url("../fonts/DINPro-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-MediumItalic.woff") format("woff"), url("../fonts/DINPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Bold.eot");
  src: local("DIN Pro Bold"), local("DINPro-Bold"), url("../fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Light.eot");
  src: local("DIN Pro Light"), local("DINPro-Light"),
    url("../fonts/DINPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-Light.woff") format("woff"), url("../fonts/DINPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedMediumItalic.eot");
  src: local("DIN Pro Condensed Medium Italic"), local("DINPro-CondensedMediumItalic"),
    url("../fonts/DINPro-CondensedMediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-CondensedMediumItalic.woff") format("woff"),
    url("../fonts/DINPro-CondensedMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Italic.eot");
  src: local("DIN Pro Italic"), local("DINPro-Italic"),
    url("../fonts/DINPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-Italic.woff") format("woff"), url("../fonts/DINPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro.eot");
  src: local("DIN Pro"), local("DINPro"), url("../fonts/DINPro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro.woff") format("woff"), url("../fonts/DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedBlack.eot");
  src: local("DIN Pro Condensed Black"), local("DINPro-CondensedBlack"),
    url("../fonts/DINPro-CondensedBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-CondensedBlack.woff") format("woff"),
    url("../fonts/DINPro-CondensedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedBold.eot");
  src: local("DIN Pro Condensed Bold"), local("DINPro-CondensedBold"),
    url("../fonts/DINPro-CondensedBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-CondensedBold.woff") format("woff"),
    url("../fonts/DINPro-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Black.eot");
  src: local("DIN Pro Black"), local("DINPro-Black"),
    url("../fonts/DINPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-Black.woff") format("woff"), url("../fonts/DINPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-LightItalic.eot");
  src: local("DIN Pro Light Italic"), local("DINPro-LightItalic"),
    url("../fonts/DINPro-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-LightItalic.woff") format("woff"), url("../fonts/DINPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedBoldItalic.eot");
  src: local("DIN Pro Condensed Bold Italic"), local("DINPro-CondensedBoldItalic"),
    url("../fonts/DINPro-CondensedBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-CondensedBoldItalic.woff") format("woff"),
    url("../fonts/DINPro-CondensedBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedRegular.eot");
  src: local("DIN Pro Condensed Regular"), local("DINPro-CondensedRegular"),
    url("../fonts/DINPro-CondensedRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-CondensedRegular.woff") format("woff"),
    url("../fonts/DINPro-CondensedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedItalic.eot");
  src: local("DIN Pro Condensed Italic"), local("DINPro-CondensedItalic"),
    url("../fonts/DINPro-CondensedItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-CondensedItalic.woff") format("woff"),
    url("../fonts/DINPro-CondensedItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedLightItalic.eot");
  src: local("DIN Pro Condensed Light Italic"), local("DINPro-CondensedLightItalic"),
    url("../fonts/DINPro-CondensedLightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-CondensedLightItalic.woff") format("woff"),
    url("../fonts/DINPro-CondensedLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedLight.eot");
  src: local("DIN Pro Condensed Light"), local("DINPro-CondensedLight"),
    url("../fonts/DINPro-CondensedLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-CondensedLight.woff") format("woff"),
    url("../fonts/DINPro-CondensedLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-BoldItalic.eot");
  src: local("DIN Pro Bold Italic"), local("DINPro-BoldItalic"),
    url("../fonts/DINPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-BoldItalic.woff") format("woff"), url("../fonts/DINPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #f9f9f9 url("../images/bg.png") repeat center top;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.b-header {
  display: block;
  position: relative;
  padding: 15px 0;
  &__toggle {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 20;
  }
  &__logo {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    img,
    svg {
      display: block;
      max-width: 177px;
      max-height: 177px;
    }
    &-text {
      display: block;
      margin: 6px 0 0 0;
      color: #7c7c7c;
      font-size: 12px;
      font-weight: 400;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 18px;
  }
  &__info {
    display: inline-block;
    margin: 0;
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 400;
    sup {
      font-size: 8px;
    }
    a {
      color: #7c7c7c;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #aa4633;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: inline-block;
    margin: 0;
    color: #393939;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #aa4633;
      text-decoration: none;
    }
  }
  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      position: relative;
      &:last-child {
        & > a {
          margin-right: 0;
        }
      }
      &:hover {
        & > ul {
          display: block;
        }
      }
      & > a {
        display: inline-block;
        margin: 0 50px 0 0;
        padding: 0;
        border-bottom: 3px solid transparent;
        color: #393939;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          border-color: #aa4633;
          color: #393939;
          text-decoration: none;
        }
      }
    }
  }
  &__dropper {
    position: relative;
    &:hover {
      & > ul {
        display: block;
      }
      & > a {
        border-color: #aa4633;
      }
    }
  }
  &__subdropper {
    position: relative;
    &:hover {
      & > ul {
        display: block;
      }
      & > a {
        background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
        color: #393939;
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 210px;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    background: rgba(241, 241, 241, 0.85);
    z-index: 8;
    & > li {
      display: block;
      position: relative;
      & > a {
        display: block;
        padding: 6px 10px;
        color: #393939;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
          color: #393939;
          text-decoration: none;
        }
      }
    }
  }
  &__subdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 210px;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9;
    & > li {
      display: block;
      & > a {
        display: block;
        padding: 6px 10px;
        color: #393939;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.13;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
          color: #aa4633;
          text-decoration: none;
        }
      }
    }
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 5px 11px;
    border-radius: 999rem;
    background-color: #aa4633;
    color: #fffefe;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #f37860;
      color: #fffefe;
      text-decoration: none;
    }
  }
}

.b-home-top {
  display: block;
  position: relative;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 320px 0 220px 0;
  background: url("../images/home_bg_alt.png") no-repeat left top;
  background-size: 100% auto;
  &__title {
    display: none;
  }
  &__text {
    display: block;
    margin: 0 0 60px 0;
    color: #393939;
    font-size: 20px;
    font-weight: 400;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 15px 32px;
    border-radius: 999rem;
    background-color: #aa4633;
    text-align: center;
    color: #fffefe;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #f37860;
      color: #fffefe;
      text-decoration: none;
    }
  }
  &__stone {
    display: block;
    position: absolute;
    top: 145px;
    left: 350px;
    z-index: 1;
  }
  &__1 {
    display: block;
    position: absolute;
    top: 101px;
    left: 0px;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 0;
  }
  &__2 {
    display: block;
    position: absolute;
    top: 355px;
    right: 90px;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
  }
}

.b-home-stocks {
  display: block;
  position: relative;
  width: calc(100% + 60px);
  margin-left: -30px;
  padding: 60px 30px 80px 30px;
  .swiper-button-next,
  .swiper-button-prev {
    width: 44px;
    height: 44px;
    outline: none;
    &:before,
    &:after {
      display: none;
    }
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-next {
    margin-right: -10px;
    background: url("../images/swiper_next.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    background: url("../images/swiper_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 12px !important;
    border-radius: 999rem;
    outline: none;
    background-color: #aa4633;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
    background-color: #aa4633;
    opacity: 1;
  }
  &-card {
    display: inline-flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      text-decoration: none;
    }
    &__image {
      display: inline-block;
      flex: 0 0 240px;
      height: 270px;
      border-radius: 30px 0 0 30px;
      background-position: center center;
      background-size: cover;
    }
    &__content {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      flex: 0 0 330px;
      padding: 45px 40px 45px 50px;
      border-radius: 0 30px 30px 0;
      background: #ffffff;
    }
    &__title {
      display: block;
      max-height: 56px;
      overflow: hidden;
      margin: 0 0 20px 0;
      color: #393939;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__text {
      display: block;
      max-height: 48px;
      overflow: hidden;
      margin: 0;
      opacity: 0.5;
      color: #393939;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }
    &__link {
      display: inline-flex;
      align-items: center;
      color: #aa4633;
      font-size: 14px;
      font-weight: 600;
      img,
      svg {
        margin-left: 11px;
      }
    }
  }
}

.b-home-catalog {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 0 0;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 370px;
    margin: 0 auto 60px auto;
    background: transparent;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 300px;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0;
      color: #393939;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: url("../images/catalog_card_bg.png") no-repeat center top;
      width: 100%;
      text-decoration: none;
    }
  }
}

.b-home-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 36px 40px 36px 0;
  box-shadow: 0 12px 46px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  background: #ffffff url("../images/home_form_bg.png") no-repeat left center;
  background-size: auto 100%;
  &_margin {
    margin-bottom: 100px;
  }
  &_contacts {
    position: relative;
    margin: 120px 0;
    padding: 35px 55px;
    background: #ffffff;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 1125px;
      height: 400px;
      margin: -110px 0 0 -80px;
      background: url("../images/contacts_after.png") no-repeat center center;
      pointer-events: none;
    }
  }
  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 12px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0 0 24px 0;
    color: #393939;
    font-size: 16px;
    font-weight: 400;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &__button {
    display: inline-block;
    margin: 0 0 12px 0;
    padding: 16px 54px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #aa4633;
    text-align: center;
    color: #fffefe;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #f37860;
      color: #fffefe;
      text-decoration: none;
    }
  }
  input {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 0 0 12px 0;
    padding: 16px 26px;
    border-radius: 25px;
    border: 1px solid #000000;
    outline: none;
    background-color: #ffffff;
    color: #393939;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:focus {
      border-color: #aa4633;
    }
  }
  &__info {
    display: block;
    position: relative;
    margin: 0;
    opacity: 0.5;
    color: #393939;
    font-size: 12px;
    font-weight: 400;
  }
}

.b-home-why {
  display: block;
  position: relative;
  width: 100%;
  padding: 120px 0 0 0;
  &__title {
    display: block;
    margin: 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    min-height: 680px;
    background: url("../images/home_why_bg.png") no-repeat center top 120px;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    max-width: 150px;
    text-align: center;
    &_1 {
      top: 60px;
      left: 160px;
    }
    &_2 {
      top: 225px;
      left: 30px;
    }
    &_3 {
      top: 445px;
      left: 100px;
    }
    &_4 {
      top: 60px;
      right: 160px;
    }
    &_5 {
      top: 225px;
      right: 30px;
    }
    &_6 {
      top: 445px;
      right: 100px;
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 50px;
      height: 50px;
      img,
      svg {
        display: block;
      }
    }
    &__title {
      display: block;
      margin: 16px 0 0 0;
      color: #393939;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.b-home-gallery {
  display: block;
  position: relative;
  width: 100%;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 390px;
    &__content {
      display: block;
      position: relative;
      width: 100%;
      height: 300px;
      position: relative;
      background: rgba(255, 255, 255, 0.9) url("../images/icon_zoom.png") no-repeat center center;
      opacity: 0;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .b-home-gallery-card__content {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
}

.b-home-reviews {
  display: block;
  position: relative;
  padding: 100px 0;
  &__row {
    display: block;
    position: relative;
  }
  &__title {
    display: block;
    margin: 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__link {
    position: absolute;
    right: 0;
    top: 20px;
    margin: 0;
    color: #aa4633;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #aa4633;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 60px 30px 50px 30px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 44px;
    height: 44px;
    outline: none;
    &:before,
    &:after {
      display: none;
    }
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-next {
    margin-right: -10px;
    background: url("../images/swiper_next.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    background: url("../images/swiper_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 12px !important;
    border-radius: 999rem;
    outline: none;
    background-color: #aa4633;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
    background-color: #aa4633;
    opacity: 1;
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    padding: 26px 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.14);
    background: #ffffff;
    &__who {
      display: block;
      position: relative;
      width: 100%;
      height: 28px;
      overflow: hidden;
      margin: 0 0 20px 0;
      color: #393939;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 500;
    }
    &__text {
      display: block;
      height: 216px;
      overflow: hidden;
      margin: 0 0 24px 0;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &__date {
      display: block;
      margin: 0 0 25px 0;
      opacity: 0.5;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
    }
    &__link {
      display: inline-flex;
      align-items: center;
      color: #aa4633;
      font-size: 14px;
      font-weight: 600;
      img,
      svg {
        display: inline-block;
        margin-left: 10px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      text-decoration: none;
    }
  }
}

.b-papers {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 60px 0;
  &__prev {
    display: inline-block;
    margin-right: 25px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  &__next {
    display: inline-block;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 38px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    color: #393939;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__link {
    display: inline-block;
    margin: 0 0 100px 0;
    color: #aa4633;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #aa4633;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-top: -20px;
    padding: 30px 30px 50px 30px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 44px;
    height: 44px;
    outline: none;
    &:before,
    &:after {
      display: none;
    }
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-next {
    margin-right: -10px;
    background: url("../images/swiper_next.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    background: url("../images/swiper_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 12px !important;
    border-radius: 999rem;
    outline: none;
    background-color: #aa4633;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
    background-color: #aa4633;
    opacity: 1;
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.14);
    background: #ffffff;
    &__content {
      display: block;
      position: relative;
      width: 100%;
      height: 350px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.9) url("../images/icon_zoom.png") no-repeat center center;
      opacity: 0;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .b-papers-card__content {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
}

.b-brands {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 40px 0;
  background-color: #2e2e2e;
  &_light {
    padding: 110px 0 60px 0;
    background: #ffffff;
    .b-brands-card {
      filter: grayscale(1);
    }
  }
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &-card {
    display: inline-block;
    max-width: 250px;
    max-height: 100px;
    margin: 0 0 30px 0;
    filter: grayscale(1) brightness(120);
  }
}

.b-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0;
  border-top: 5px solid #aa4633;
  border-bottom: 5px solid #aa4633;
  background: url("../images/home_seo_bg.jpg") no-repeat center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 22px 0;
    color: #ffffff;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__content {
    display: block;
    position: relative;
    p {
      display: block;
      margin: 0 0 20px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    a {
      color: #aa4633;
      text-decoration: underline;
      &:hover {
        color: #aa4633;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
      li {
        margin-bottom: 12px;
      }
    }
  }
}

.b-footer {
  display: block;
  position: relative;
  padding: 80px 0 60px 0;
  background-color: #2e2e2e;
  &__logo {
    display: block;
    img,
    svg {
      max-width: 177px;
      max-height: 177px;
      filter: brightness(0) invert(1);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__phone {
    display: block;
    margin: 50px 0 20px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #aa4633;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 5px 11px;
    border-radius: 999rem;
    background-color: #aa4633;
    color: #fffefe;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #f37860;
      color: #fffefe;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 16px 0;
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #aa4633;
          text-decoration: none;
        }
      }
    }
  }
  &__subnav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 10px 0;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #aa4633;
          text-decoration: none;
        }
      }
    }
  }
  &__policy {
    display: block;
    margin: 0 0 24px 0;
    opacity: 0.3;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__creators {
    display: block;
    margin: 0 0 21px 0;
    opacity: 0.3;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 11px 0;
    opacity: 0.3;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    a {
      display: inline-block;
      margin: 0 35px 0 0;
      color: #aa4633;
      font-size: 20px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
    i {
      display: inline-block;
      margin: 0 35px 0 0;
      color: #aa4633;
      font-size: 20px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.b-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.8);
  }
  ::placeholder {
    color: #000000;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 26px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(90deg);
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 30px 0;
    padding: 60px 50px 40px 50px;
    box-shadow: 0 12px 46px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
    background-color: #ffffff;
    text-align: center;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0 0 36px 0;
    color: #393939;
    font-size: 16px;
    font-weight: 400;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 16px 54px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #aa4633;
    text-align: center;
    color: #fffefe;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #f37860;
      color: #fffefe;
      text-decoration: none;
    }
  }
  input {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 0 34px 0;
    padding: 16px 26px;
    border-radius: 25px;
    border: 1px solid #000000;
    outline: none;
    background-color: #ffffff;
    color: #393939;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:focus {
      border-color: #aa4633;
    }
  }
  &__info {
    display: block;
    position: relative;
    margin: 30px 0 0 0;
    opacity: 0.5;
    color: #393939;
    font-size: 14px;
    font-weight: 400;
  }
}

.b-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 30px 0 20px 0;
  list-style: none;
  img {
    display: inline-block;
    margin: 0 10px;
  }
  li {
    display: inline-block;
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 300;
    a {
      color: #7c7c7c;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #aa4633;
        text-decoration: none;
      }
    }
  }
}

.b-about {
  display: block;
  position: relative;
  &__image {
    display: block;
    max-width: 100%;
  }
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    a {
      color: #aa4633;
      text-decoration: underline;
      &:hover {
        color: #aa4633;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
      li {
        margin-bottom: 12px;
      }
    }
  }
}

.b-director {
  display: flex;
  align-items: stretch;
  position: relative;
  width: 100%;
  margin: 100px 0;
  box-shadow: 0 12px 46px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  background-color: #ffffff;
  &__image {
    display: inline-block;
    flex: 0 0 240px;
    min-height: 270px;
    border-radius: 30px 0 0 30px;
    background-position: left center;
    background-size: cover;
  }
  &__content {
    display: inline-block;
    position: relative;
    flex: 0 0 930px;
    padding: 45px 50px;
  }
  &__name {
    display: block;
    margin: 0 0 15px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__who {
    display: block;
    margin: 0 0 16px 0;
    opacity: 0.5;
    color: #393939;
    font-size: 14px;
    font-weight: 400;
  }
  &__text {
    display: block;
    margin: 0;
    color: #393939;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.b-working {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 55px 0;
  background: url("../images/about_bg.jpg") no-repeat center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 30px 0;
    text-align: center;
    &_1 {
      margin-left: 110px;
    }
    &_3 {
      margin-left: 100px;
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 80px;
      height: 80px;
    }
    &__title {
      display: block;
      margin: 0;
      color: #393939;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.b-photos {
  display: block;
  padding: 100px 0;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.b-goods {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0 80px 0;
  &__text {
    display: block;
    position: relative;
    padding: 70px 0 0 0;
    color: #393939;
    font-size: 16px;
    font-weight: 400;
  }
  &__title {
    display: block;
    margin: 0 0 55px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &-card {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 30px auto;
    padding: 5px 5px 5px 40px;
    box-shadow: 0 12px 46px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
    background-color: #ffffff;
    &__image {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 115px;
      height: 115px;
      border-radius: 999rem;
      background: #ffffff;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 200px;
        max-height: 120px;
      }
    }
    &__title {
      display: inline-block;
      margin: auto;
      color: #393939;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #f0f0f0;
      text-decoration: none;
    }
  }
}

.b-cards {
  display: block;
  position: relative;
  &__title {
    display: block;
    margin: 0 0 80px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 60px auto;
    padding: 15px 0;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 210px;
      height: 210px;
      margin: 0 auto;
      border-radius: 999rem;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 270px;
        max-height: 230px;
      }
      /* background-color: #f1f1f1; */
    }
    &__category {
      display: block;
      margin: 11px 0 5px 0;
      color: #393939;
      font-weight: 400;
      font-size: 16px;
    }
    &__title {
      display: block;
      height: 84px;
      overflow: hidden;
      margin: 0 0 24px 0;
      color: #393939;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__text {
      display: block;
      margin: 0 0 2px 0;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
    }
    &__price {
      display: block;
      margin: 0;
      color: #393939;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      font-size: 43px;
      font-weight: 700;
    }
    cursor: pointer;
    text-decoration: none;
    transition: background 0.2s ease-out;
    &:hover {
      .b-cards-card__image {
        background-color: #f1f1f1;
      }
      background-color: #ffffff;
      outline: 10px solid #ffffff;
      text-decoration: none;
    }
  }
  &__load {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
  }
  &__button {
    display: inline-block;
    padding: 22px 68px;
    border: 1px solid #000000;
    color: #393939;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #000000;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.b-why {
  display: block;
  position: relative;
  padding: 95px 0 70px 0;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 132px;
    margin: 0 auto 30px auto;
    text-align: center;
    &__image {
      display: block;
      max-width: 132px;
      max-height: 132px;
    }
    &__title {
      display: block;
      margin: 24px 0 0 0;
      color: #393939;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.b-good {
  display: block;
  position: relative;
  padding: 30px 0 50px 0;
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 12px !important;
    border-radius: 999rem;
    outline: none;
    background-color: #aa4633;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
    background-color: #aa4633;
    opacity: 1;
  }
  .swiper-slide {
    width: 100%;
    height: 490px;
    background-position: center center;
    background-size: cover;
  }
  &__cards {
    display: block;
    position: relative;
    padding-bottom: 80px;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    min-height: 490px;
  }
  &__title {
    display: block;
    margin: -7px 0 20px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0 0 20px 0;
    color: #393939;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__subtitle {
    display: block;
    margin: 0 0 2px 0;
    color: #393939;
    font-size: 16px;
    font-weight: 400;
  }
  &__price {
    display: block;
    margin: 0 0 22px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 43px;
    font-weight: 700;
  }
  &__button {
    display: inline-block;
    padding: 16px 55px;
    border-radius: 999rem;
    background-color: #aa4633;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #f37860;
      color: #fffefe;
      text-decoration: none;
    }
  }
}

.b-tabs {
  display: block;
  position: relative;
  padding: 50px 0 30px 0;
  background: #ffffff;
  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 20px 20px 0;
      padding: 15px 55px;
      border-radius: 999rem;
      background-color: #f1f1f1;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      &.current {
        background-color: #393939;
        color: #ffffff;
        opacity: 1;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    min-height: 300px;
    padding: 30px 0;
    color: #393939;
    font-size: 16px;
    font-weight: 400;
    p {
      display: block;
      margin: 0 0 20px 0;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &.current {
      display: block;
    }
  }
  &__what {
    background: url("../images/hr_bg.png") left bottom 3px;
    background-repeat: repeat-x;
  }
  &__info {
    display: block;
    overflow: hidden;
    margin: 0 0 23px 0;
    color: #393939;
    font-size: 16px;
    font-weight: 400;
    span {
      background: #ffffff;
    }
  }
}

.b-article {
  display: block;
  position: relative;
  padding: 45px 0 70px 0;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 67px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    max-width: 340px;
    margin: 0 0 63px 0;
    color: #393939;
    font-size: 20px;
    font-weight: 400;
  }
  &__button {
    display: inline-block;
    padding: 14px 30px;
    border-radius: 999rem;
    background-color: #aa4633;
    color: #fffefe;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #f37860;
      color: #fffefe;
      text-decoration: none;
    }
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    height: 560px;
    max-width: 560px;
    border-radius: 999rem;
    background-position: center center;
    background-size: cover;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: calc(100% + 90px);
      height: calc(100% + 90px);
      margin: -45px 0 0 -45px;
      border: 1px solid #bdbdbd;
      opacity: 0.5;
      border-radius: 999rem;
    }
  }
  &__help {
    display: block;
    position: relative;
    margin: 100px auto;
    padding: 45px 50px 20px 45px;
    box-shadow: 0 12px 46px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
    background-color: #ffffff;
    text-align: center;
  }
  &__content {
    display: block;
    position: relative;
    img,
    svg {
      max-width: 100%;
      margin: 10px auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
    }
    h1 {
      font-size: 68px;
    }
    h2 {
      font-size: 50px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 14px;
    }
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    a {
      color: #aa4633;
      text-decoration: underline;
      &:hover {
        color: #aa4633;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
      li {
        margin-bottom: 12px;
      }
    }
    .table {
      margin: 0 0 30px 0;
    }
    .table td,
    .table th {
      padding: 20px 6px;
      border: 0;
      border-bottom: 2px solid #bdbdbd;
      color: #393939;
      font-size: 16px;
      font-weight: 600;
    }
    .table thead th {
      padding: 26px 6px;
      background-color: #bdbdbd;
      font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.b-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0;
  background: #ffffff url("../images/contacts_bg.jpg") no-repeat left center;
  background-size: calc((100vw - 1200px) / 2 + 300px) 100%;
  &__title {
    display: block;
    margin: 0 0 5px 0;
    color: #393939;
    font-family: "DIN Pro Cond", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__subtitle {
    display: block;
    margin: 38px 0 0 0;
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 5px 0 0 0;
    color: #393939;
    font-size: 18px;
    font-weight: 400;
    sup {
      font-size: 11px;
    }
    a {
      color: #393939;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #aa4633;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: block;
    margin: 38px 0 0 0;
    color: #aa4633;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    &:hover {
      color: #aa4633;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 460px;
  box-shadow: 0 12px 46px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  background-color: #ffffff;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .b-header__toggle {
    display: block;
  }
  .b-header__top {
    display: none;
  }
  .b-header__main {
    display: none;
  }
  .b-header__info {
    display: block;
    margin: 0 0 6px 0;
  }
  .b-header__nav {
    display: block;
    width: 100%;
  }
  .b-header__nav > li:hover > ul {
    display: none;
  }
  .b-header__nav > li {
    display: block;
    width: 100%;
    text-align: center;
    & > a {
      margin: 0 !important;
      padding: 6px;
    }
  }
  .b-header__main {
    flex-flow: row wrap;
  }
  .b-header__button {
    display: block;
    margin: 0 auto;
  }
  .b-home-top {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 30px;
    min-height: calc(100vh - 118px);
  }
  .b-home-stocks {
    width: 100%;
    margin: 0;
    padding: 0;
    .swiper-button-next,
    .swiper-button-prev {
      top: 22px;
    }
    .swiper-button-prev {
      margin-left: -10px;
    }
  }
  .b-home-stocks-card {
    flex-flow: column nowrap;
    box-shadow: none;
  }
  .b-home-stocks-card__image {
    border-radius: 10px 10px 0 0;
  }
  .b-home-stocks-card__content {
    border-radius: 0 0 10px 10px;
  }
  .b-home-stocks-card__content {
    padding: 30px 20px;
  }
  .b-home-stocks-card__content {
    flex: 0 0 250px;
  }
  .b-home-stocks .swiper-pagination {
    bottom: 5px;
  }
  .b-home-catalog__title {
    margin-bottom: 30px;
  }
  .b-home-catalog-card {
    margin-bottom: 20px;
  }
  .b-home-catalog-card__image {
    height: 250px;
  }
  .b-home-catalog-card {
    min-height: auto;
  }
  .b-home-form {
    padding: 30px 20px;
    background: #ffffff;
  }
  .b-home-why {
    padding: 30px 0;
    &__content {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
      min-height: auto;
      background: transparent;
    }
    &-card {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
      margin: 20px 0 0 0;
    }
  }
  .b-home-reviews {
    padding: 30px 0;
  }
  .b-home-reviews__title {
    font-size: 32px;
  }
  .b-home-why__title {
    font-size: 32px;
  }
  .b-home-reviews__link {
    position: relative;
    right: auto;
    top: auto;
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
  }
  .b-home-reviews__cards {
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
  }
  .b-home-reviews-card {
    margin: 0 auto;
    box-shadow: none;
  }
  .b-home-reviews .swiper-button-next,
  .b-home-reviews .swiper-button-prev {
    opacity: 0.5;
  }
  .b-papers__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .b-papers__link {
    margin-bottom: 20px;
  }
  .b-papers__cards {
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
  }
  .b-papers-card {
    box-shadow: none;
  }
  .b-home-seo {
    padding: 30px 0;
  }
  .b-footer {
    padding: 30px 0;
  }
  .b-footer__nav li a {
    margin-top: 20px;
  }
  .b-brands__cards {
    justify-content: space-around;
  }
  .b-modal__content {
    padding: 50px 20px 20px 20px;
  }
  .b-director {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .b-about__title {
    margin-bottom: 30px;
    font-size: 42px;
  }
  .b-director__image {
    width: 300px;
    flex: 1 1 100%;
    margin: 15px 0 0 0;
    border-radius: 30px;
  }
  .b-director {
    margin: 30px 0;
  }
  .b-director__content {
    flex: 0 0 auto;
    padding: 30px 20px;
  }
  .b-working {
    padding: 30px 0;
    background: #ffffff;
  }
  .b-working-card {
    margin: 0 auto 20px auto !important;
  }
  .b-working__title {
    margin-bottom: 30px;
    font-size: 32px;
  }
  .b-photos {
    padding: 30px 0;
  }
  .b-brands_light {
    padding: 30px 0;
  }
  .b-brands__title {
    margin-bottom: 30px;
    font-size: 32px;
  }
  .b-goods__title {
    margin-bottom: 30px;
    font-size: 42px;
  }
  .b-goods__text {
    padding: 0;
  }
  .b-goods {
    padding: 0;
  }
  .b-cards-card {
    margin-bottom: 10px;
  }
  .b-why {
    padding: 20px;
    &__title {
      margin-bottom: 30px;
      font-size: 32px;
    }
  }
  .b-home-form_margin {
    margin-bottom: 20px;
  }
  .b-good .swiper-slide {
    height: 300px;
  }
  .b-good .swiper-pagination {
    bottom: 30px;
  }
  .b-good__content {
    min-height: auto;
  }
  .b-tabs {
    padding: 30px 0;
  }
  .b-tabs__header li {
    margin: 0 5px 5px 0;
    padding: 8px 12px;
  }
  .b-cards__title {
    margin-bottom: 20px;
  }
  .b-article__title {
    margin-bottom: 20px;
    font-size: 46px;
  }
  .b-article {
    padding: 30px 0;
  }
  .b-article__text {
    margin-bottom: 20px;
  }
  .b-article__image {
    max-width: 300px;
    height: 300px;
    margin: 20px 0;
    &:after {
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      margin: -10px 0 0 -10px;
    }
  }
  .b-article__content h2 {
    font-size: 42px;
  }
  .b-article__help {
    margin: 30px 0;
    padding: 20px 30px;
  }
  .b-home-form_contacts:before {
    display: none;
  }
  .b-contacts {
    padding: 20px 0;
    background: #ffffff;
  }
  #map {
    height: 300px;
    border-radius: 10px;
  }
  .b-contacts__title {
    margin: 30px 0 0 0;
  }
  .b-contacts__subtitle {
    margin-top: 20px;
  }
  .b-home-form_contacts {
    margin: 20px 0;
  }
  .b-home-form input {
    max-width: 320px;
  }
  .b-home-form__button {
    width: 100%;
    max-width: 320px;
  }
  .b-home-form__row {
    justify-content: space-around;
  }
  .b-home-reviews-card {
    display: block;
  }
  .b-article__title {
    font-size: 41px;
  }
  .b-home-stocks-card {
    display: flex;
    max-width: 370px;
    margin: 0 auto;
  }
  .b-home-reviews__cards {
    padding: 20px 15px 20px 15px;
  }
  .b-home-reviews .swiper-button-prev {
    left: 0;
  }
  .b-home-reviews .swiper-button-next {
    right: 0;
    margin-right: 0;
  }
  .b-cards-card {
    display: block;
  }
  .b-home-reviews .swiper-pagination {
    bottom: 0;
  }
  .b-home-top__stone {
    display: none;
  }
  .b-home-top__1 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    font-size: 46px;
  }
  .b-home-top__2 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin-bottom: 40px;
    font-size: 46px;
  }
  .b-home-top {
    min-height: auto;
    margin-left: -15px;
    margin-right: -15px;
    padding: 60px 15px;
    background: url('../images/home_bg_alt_mobile.png') no-repeat center center;
    background-size: cover;
  }
  .b-home-form__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .b-home-form {
    text-align: center;
  }
  .b-home-gallery__cards {
    justify-content: center;
  }
  .b-papers-card {
    display: block;
  }
  .b-papers {
    text-align: center;
  }
}
